<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <title>优八物流地图</title>
</head>
<body>
<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
    <!--   高度如果没有默认值 百度地图中心点显示不正确 -->
    <iframe id="iframePage" width="100%" scrolling="auto" frameborder="0" src="../map">
    </iframe>
</div>

<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
    <form th:action="@{/logout}" method="post">
        <button type="button" class="btn btn-info" onclick="refresh()" style="margin-top: 5px">刷新页面
        </button>

        <button type="button" class="btn btn-info" onclick="centerAndZoom()" style="margin-left: 5px;margin-top: 5px">
            回到中心点
        </button>

        <input type="submit" class="btn btn-info" style="margin-left: 5px;margin-top: 5px" value="注销"/>
    </form>

    <div class="panel panel-info" style="margin-top: 5px">
        <div class="panel-heading">
            <h3 class="panel-title">是否显示推荐路线（注：最多支持30个配送点，路线仅供参考）</h3>
        </div>
        <div class="panel-body">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"
                           onclick="clearResults()" checked> 不显示推荐路线
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"
                           onclick="search()"> 显示推荐路线
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3"
                           onclick="searchLoop()"> 显示推荐路线（环线）
                </label>
            </div>
        </div>
    </div>

    <div class="panel panel-warning" style="margin-top: 5px" id="errorInfoPanel">
        <div class="panel-heading">
            <h3 class="panel-title" id="errorInfoTitle"></h3>
        </div>
        <div class="panel-body">
            <p style="font-size: 14px" id="errorInfo"></p>
        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    chaneFrameHeight();

    // 此处主要用于窗口改变时地图高度调整
    function chaneFrameHeight() {
        if (document.documentElement.clientWidth > 1200) { // 如果是电脑屏
            document.getElementById("iframePage").height = document.documentElement.clientHeight;
        } else { // 手机屏则设置地图长宽一致
            document.getElementById("iframePage").height = document.documentElement.clientWidth;
        }
    }

    window.onresize = function () {
        chaneFrameHeight();
    }


    function centerAndZoom() {
        document.getElementById("iframePage").contentWindow.centerAndZoom();
    }


    var selectValue = null;   //  selectvalue为radio中选中的值

    // 获取单选框的值
    function getRadioValue() {
        var radio = document.getElementsByName("optionsRadios");
        for (var i = 0; i < radio.length; i++) {
            if (radio[i].checked == true) {
                selectValue = radio[i].value;
                break;
            }
        }
    }

    getRadioValue();

    function clearResults() {
        if (selectValue != "option1") { // 防止重复点击
            document.getElementById("iframePage").contentWindow.clearResults();
        }
        getRadioValue();
    }

    function search() {
        if (selectValue != "option2") {
            document.getElementById("iframePage").contentWindow.search();
        }
        getRadioValue();
    }

    function searchLoop() {
        if (selectValue != "option3") {
            document.getElementById("iframePage").contentWindow.searchLoop();
        }
        getRadioValue();
    }


    function refresh() {
        var len = window.location.href.indexOf("?");
        if (len > 0) {
            window.location.href = window.location.href.substring(0, len) + "?a=" + Math.random();
        } else {
            window.location.href = window.location.href + "?a=" + Math.random();
        }
        // window.location.reload();
    }

</script>
</html>